package {{ .Name }}

import (
	"context"
)

type Service struct {}

{{ range .Service.Methods }}
func (s Service) {{.Name}} (ctx context.Context, req {{ .Request.Name }}) (res {{ .Response.Name }}, err error) {
	panic("not implemented")
	return
}
{{ end }}

func NewService() (*Service, error) {
	return &Service{}, nil
}
