package {{ .Name }}

import (
	"go.temporal.io/sdk/workflow"
)

type Workflows struct {}

{{ range .Worker.Workflows }}
func (w *Workflows) {{.Name}} (ctx workflow.Context, req {{ .Request.Name }}) (res {{ .Response.Name }}, err error) {
	panic("not implemented")
	return
}
{{ end }}

func NewWorkflows() (*Workflows, error) {
	return &Workflows{}, nil
}
